$background-color	: #F1F1F1;
$border-radius		: 4px;
$padding		: 10px;

ul#word-table {
	list-style: outside none none;
	margin-left: -40px;
	margin-top: 15px;
	li {
		list-style-type: none;
		background-color: $background-color;
		border-radius: $border-radius;
		padding: $padding;
		margin: 5px 0px;
	}
}

div#single-word {
	background-color: $background-color;
	border-radius: $border-radius;
	padding: $padding;
}

div.dtable-process-wrap {
	z-index: 999;
	margin: auto;
	overflow: auto;
	width: 60px;
	height: 60px;
	background-color: rgba(0, 0, 0, 0.14);
	border-radius: 6px;
	div {
		font-size: 30px;
		position: relative;
		top: 15px;
		left: 15px;
	}
}
